{% extends 'base.html.twig' %}

{% block content %}
<div class="container" id="main">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Teraz w {{ place.getNamePolish }}</h1>
                <p class="lead">
                    {% for condition in weather.weatherConditions %}
                        {{ condition.description }} <img src="{{ condition.getIconUrl }}" alt="{{ condition.main }}">
                    {% endfor %}
                </p>
                <hr class="my-4">
                <small>zaktualizowano: {{ weather.added|date('Y-m-d H:i:s') }}</small>
            </div>
        </div>
    </div>

    <div class="row">
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Temperatura", 'body' : weather.getTemperatureCelsiusString }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Temperatura maks.", 'body' : weather.getTemperatureMaxCelsiusString }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Temperatura min.", 'body' : weather.getTemperatureMinCelsiusString }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Ciśnienie", 'body' : weather.getPressureWithUnit }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Wilgotność", 'body' : weather.getHumidityWithUnit }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Zachmurzenie", 'body' : weather.getCloudsWithUnit }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Wiatr", 'body' : weather.getWindSpeedWithUnit}) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Widoczność", 'body' : weather.getVisibilityWithUnit}) }}
    </div>

    <div class="row hidden-xs">
        <div class="col-12">
            <canvas id="threeDayForecast"></canvas>
        </div>
    </div>


    {{ include('parts/bootstrap/forecast.html.twig', {'forecasts' : forecasts}) }}


</div>
{% endblock %}