<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pogoda w {{ place.name }}</title>

    <link rel="stylesheet" href="assets/style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container" id="main">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Teraz w {{ place.getNamePolish }}</h1>
                <p class="lead">
                    {% for condition in weather.weatherConditions %}
                        {{ condition.description }} <img src="{{ condition.getIconUrl }}" alt="{{ condition.main }}">
                    {% endfor %}
                </p>
                <hr class="my-4">
                <small>zaktualizowano: {{ weather.added|date('Y-m-d H:i:s') }}</small>
            </div>
        </div>

    </div>

    <div class="row">
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Temperatura", 'body' : weather.getTemperatureCelsiusString }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Temperatura maks.", 'body' : weather.getTemperatureMaxCelsiusString }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Temperatura min.", 'body' : weather.getTemperatureMinCelsiusString }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Ciśnienie", 'body' : weather.getPressureWithUnit }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Wilgotność", 'body' : weather.getHumidityWithUnit }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Zachmurzenie", 'body' : weather.getCloudsWithUnit }) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Wiatr", 'body' : weather.getWindSpeedWithUnit}) }}
        {{ include('parts/bootstrap/panel.html.twig', {'heading' : "Widoczność", 'body' : weather.getVisibilityWithUnit}) }}
    </div>

    <div class="row">
        <div class="col-12">
            <canvas id="threeDayForecast"></canvas>
        </div>
    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="assets/app.js"></script>
</body>
</html>